PORT=8787
AFI_DB_PATH=./data/afi.db
AFI_DATA_DIR=./data
AFI_BASE_RPC_URL=https://mainnet.base.org
AFI_ETHERSCAN_API_KEY=your_etherscan_key
AFI_LOCUS_API_KEY=your_locus_key
AFI_LOCUS_BASE_URL=https://beta-api.paywithlocus.com
AFI_LOCUS_AGENT_ID=
AFI_EAS_BASE_URL=https://base.easscan.org/graphql
AFI_EAS_SEPOLIA_URL=https://base-sepolia.easscan.org/graphql
